# VJAY Control State - Key=Value Format
# Adding new fields requires no version bump - just add a new line

animationSpeed=0.3
tempo=1
energy=0.5
bass=0.3
mid=0.3
high=0.3
colorBlend=0.5
primaryColor=0.9 0.4 0.1 1
secondaryColor=0.1 0.5 0.8 1
activeMode=0
videoMix=1
videoPlaybackRate=1
videoDecodeOversample=1
forcedFpsIndex=0
loopBlendSeconds=0
grayscaleAmount=0
sharpenAmount=0.35
upscaleEnabled=1
crtCurvature=0.532503
crtHorizontalCurvature=0.294073
crtScanlineIntensity=0.0928515
crtMaskIntensity=0.301067
crtVignette=0.548202
crtFishEye=-1.80333
bloomIntensity=1.30579
bloomThreshold=0.435159
aberrationAmount=0.0129074
grainStrength=0.296497
bendAmount=0.773759
glitchAmount=0.30799
randomVideoStart=0
colorBalance=1.92517 1.92622 0.936689
gradeBrightness=-0.265402
gradeContrast=1.66222
gradeSaturation=0.52616
gradeHueShift=54.3256
gradeGamma=0.673402
colorLUTIndex=0
splitToneBalance=0.986418
splitToneShadows=0.2376 0.218323 0.235838
splitToneHighlights=0.819229 1.04013 1.10124
feedbackAmount=0.555503
trailStrength=0.769516
temporalAccumulation=0.495653
feedbackDecay=0.154589
recursiveBlend=0.428828
uvWarpStrength=1.39778
rippleStrength=1.66593
rippleFrequency=6.59878
swirlStrength=0.882036
displacementAmount=1.37589
kaleidoSegments=19.9254
tunnelDepth=0.430995
tunnelCurvature=0.0507615
gaussianBlur=0.180281
directionalBlur=0.1329
directionalBlurAngle=27.582
zoomBlur=0.199981
motionBlur=0.393205
temporalBlur=0.155606
unsharpMask=0.11827
casAmount=0.0844519
localContrast=0.979653
glitchDatamosh=1
glitchRGBSplit=1
glitchScanlineBreak=0.993919
glitchJitter=1
glitchTearing=1
glitchPixelSort=1
glitchBufferCorruption=1
blendModeProcedural=5
blendModeVideo=3
blendModeFeedback=4
blendProceduralMix=1.53016
blendVideoMix=1.75189
blendFeedbackMix=1.33949
analogScanlineFocus=0.927934
analogMaskBalance=0.166025
analogNoise=0.503213
analogBloom=0.720318
vhsDistortion=0.293633
analogChromaticAberration=0.205023
enableColorGrading=1
enableFeedback=1
enableDistortion=0
enableBlurMotion=1
enableSharpen=1
enableGlitch=1
enableBlending=1
enableAnalog=1
enableAudioReactive=1
enableTemporal=1
enablePostCrtCurvature=1
enablePostScanMask=1
enablePostVignette=1
enablePostFishEye=0
enablePostBloom=1
enablePostAberration=1
enablePostGrain=1
enablePostBend=0
enablePostGlitch=1
enablePostColorBalance=1
audioWarpResponse=0.71
audioFeedbackResponse=0.456108
audioBlurResponse=1.97368
audioColorResponse=1.97887
audioGlitchResponse=0.784982
audioBeatSync=3.24907
audioLfoRate=1.78753
temporalInterpolation=0.293446
temporalBlendStrength=0.118965
slowMotionFactor=3.21537
frameAccumulation=0.704128
autoRandomize=0
intervalSeconds=30
useVideoDuration=0
allowDimensionChangeRecreation=0
