# VJAY Control State - Key=Value
# Add new fields freely, no version bump needed

animationSpeed=0.3
tempo=2.262
energy=0.5
bass=0.59
mid=0.687
high=0.447
colorBlend=0.463
primaryColor=0.686275 0.650531 0.629085 1
secondaryColor=0.1 0.5 0.8 1
activeMode=1
videoMix=1
videoPlaybackRate=0.71
videoDecodeOversample=1
forcedFpsIndex=1
loopBlendSeconds=0
grayscaleAmount=0
sharpenAmount=0
upscaleEnabled=1
crtCurvature=0.362773
crtHorizontalCurvature=0.23813
crtScanlineIntensity=0.963714
crtMaskIntensity=0.0897876
crtVignette=0.306523
crtFishEye=-2.20458
bloomIntensity=1.4291
bloomThreshold=0.637962
aberrationAmount=-0.0287251
grainStrength=0.10162
bendAmount=0.119736
glitchAmount=0.23669
randomVideoStart=1
colorBalance=1.93654 1.91762 1.1
gradeBrightness=-0.0560167
gradeContrast=0.921555
gradeSaturation=1.39901
gradeHueShift=22.1934
gradeGamma=1.21879
colorLUTIndex=1
splitToneBalance=0.420498
splitToneShadows=0.226636 0.643805 0.800094
splitToneHighlights=0.784351 0.922075 0.143882
feedbackAmount=0.307016
trailStrength=0.129192
temporalAccumulation=0.283149
feedbackDecay=0.6244
recursiveBlend=0.915117
uvWarpStrength=0.0389124
rippleStrength=0.326869
rippleFrequency=1.98913
swirlStrength=-0.0861732
displacementAmount=0.225299
kaleidoSegments=6.86482
tunnelDepth=0.0859199
tunnelCurvature=-0.181068
gaussianBlur=0.69083
directionalBlur=0.380011
directionalBlurAngle=179.367
zoomBlur=0.625921
motionBlur=0.472745
temporalBlur=0.684767
unsharpMask=0.742953
casAmount=0.834124
localContrast=0.124108
glitchDatamosh=0.768085
glitchRGBSplit=0.273685
glitchScanlineBreak=0.471033
glitchJitter=0.525291
glitchTearing=0.339737
glitchPixelSort=0.542296
glitchBufferCorruption=0.553455
blendModeProcedural=5
blendModeVideo=3
blendModeFeedback=3
blendProceduralMix=1.58262
blendVideoMix=1.03523
blendFeedbackMix=0.695553
analogScanlineFocus=0.517202
analogMaskBalance=0.917245
analogNoise=0.805556
analogBloom=0.438233
vhsDistortion=0.896246
analogChromaticAberration=0.144335
enableColorGrading=1
enableFeedback=1
enableDistortion=1
enableBlurMotion=1
enableSharpen=1
enableGlitch=1
enableBlending=1
enableAnalog=1
enableAudioReactive=1
enableTemporal=1
enablePostCrtCurvature=1
enablePostScanMask=1
enablePostVignette=1
enablePostFishEye=1
enablePostBloom=1
enablePostAberration=1
enablePostGrain=1
enablePostBend=1
enablePostGlitch=1
enablePostColorBalance=1
audioWarpResponse=1.96369
audioFeedbackResponse=0.285437
audioBlurResponse=0.499593
audioColorResponse=0.566032
audioGlitchResponse=1.22206
audioBeatSync=1.14796
audioLfoRate=2.10064
temporalInterpolation=0.221239
temporalBlendStrength=0.307253
slowMotionFactor=3.9239
frameAccumulation=0.89773
autoRandomize=0
intervalSeconds=5
useVideoDuration=0
allowDimensionChangeRecreation=1
