# VJAY Control State - Key=Value
# Add new fields freely, no version bump needed

midi_cc_18=crtFishEye,0,0.5,0
midi_cc_74=gradeBrightness,-1,1,0

animationSpeed=8
animationTargetSeconds=5
tempo=2.094
energy=0.216336
bass=0.0167759
mid=0.00878037
high=0.00206547
colorBlend=1
primaryColor=0.303231 0.713977 0.229436 1
secondaryColor=0.640183 0.229436 0.713977 1
autoRandomizeColors=0
colorRandomizeInterval=1
activeMode=1
videoMix=0.801
videoPlaybackRate=1.18
videoDecodeOversample=1
autoScaleVideo=0
selectedVideoFolder=VHS
forcedFpsIndex=4
loopBlendSeconds=0
grayscaleAmount=0
sharpenAmount=0
upscaleEnabled=1
crtCurvature=0.241898
crtHorizontalCurvature=0.372655
crtScanlineIntensity=0.441938
crtMaskIntensity=0.228203
crtVignette=0.793152
crtFishEye=-1.5028
bloomIntensity=1.7069
bloomThreshold=0.617399
aberrationAmount=-0.0185422
grainStrength=0.44862
bendAmount=0.0697912
glitchAmount=0.0698496
randomVideoStart=1
colorBalance=0.815676 0.109928 1.56322
gradeBrightness=-0.121822
gradeContrast=1.20203
gradeSaturation=0.777855
gradeHueShift=48.3755
gradeGamma=0.990423
colorLUTIndex=4
splitToneBalance=0.0226873
splitToneShadows=0.385427 0.715656 0.302647
splitToneHighlights=0.879048 0.157472 0.833697
feedbackAmount=0.321522
trailStrength=0.88123
temporalAccumulation=0.579945
feedbackDecay=0.299575
recursiveBlend=0.971226
uvWarpStrength=0.326615
rippleStrength=0.338411
rippleFrequency=3.53416
swirlStrength=0.298522
displacementAmount=0.0277196
kaleidoSegments=6.97978
tunnelDepth=0.204082
tunnelCurvature=-0.1538
gaussianBlur=0.96046
directionalBlur=0.421699
directionalBlurAngle=323.484
zoomBlur=0.226941
motionBlur=0.00519649
temporalBlur=0.914706
unsharpMask=0.114638
casAmount=0.411739
localContrast=0.703445
glitchDatamosh=0.598642
glitchRGBSplit=0.793412
glitchScanlineBreak=0.861423
glitchJitter=0.56732
glitchTearing=0.35814
glitchPixelSort=0.521289
glitchBufferCorruption=0.894214
blendModeProcedural=1
blendModeVideo=4
blendModeFeedback=0
blendProceduralMix=0.548826
blendVideoMix=1.84983
blendFeedbackMix=1.67982
analogScanlineFocus=0.65039
analogMaskBalance=0.895271
analogNoise=0.892092
analogBloom=1.26015
vhsDistortion=0.381111
analogChromaticAberration=0.0720664
enableColorGrading=1
enableFeedback=1
enableDistortion=1
enableBlurMotion=1
enableSharpen=1
enableGlitch=1
enableBlending=1
enableAnalog=1
enableAudioReactive=1
enableTemporal=1
enablePostCrtCurvature=1
enablePostScanMask=1
enablePostVignette=1
enablePostFishEye=0
enablePostBloom=1
enablePostAberration=1
enablePostGrain=1
enablePostBend=0
enablePostGlitch=1
enablePostColorBalance=1
audioWarpResponse=1.4707
audioFeedbackResponse=1.22198
audioBlurResponse=0.434169
audioColorResponse=1.05698
audioGlitchResponse=0.845544
audioBeatSync=2.43947
audioLfoRate=3.59511
temporalInterpolation=0.0303019
temporalBlendStrength=0.769261
slowMotionFactor=2.59219
frameAccumulation=0.64781
autoRandomize=1
intervalSeconds=1
useVideoDuration=1
useShuffleMode=1
allowDimensionChangeRecreation=1
